{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}新增产品{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype=multipart/form-data>
    <label for="product_name">名称</label>
    <input name="product_name" id="product_name" value="{{ request.form['product_name'] }}" required>

    <label>分类</label>
    <input name="cat" id="cat" value="{{ request.form['cat'] }}" required>

    <label>是否推荐</label>
    <input name="rec" id="rec"  value="{{ request.form['rec'] }}" required>

    <label for="description">产品描述</label>
    <textarea name="description" id="description">{{ request.form['description'] }}</textarea>

    <label>上传产品图片</label>
    <input type="file" name="file">

    <hr>
    <input type="submit" value="保存">
  </form>
{% endblock %}