{% extends 'base.html' %}

{% block header %}
  <h1>产品</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.product_create') }}">新建</a>
    <a class="action" href="{{ url_for('products.index') }}">查看</a>
  {% endif %}

  <h1>分类</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.cat_create') }}">新建</a>
    <a class="action" href="{{ url_for('categories.index') }}">查看</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['product_name'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.product_update', id=post['id']) }}">编辑</a>
        {% endif %}
      </header>
      <p class="body">{{ post['description'] }}</p>
      <h5 class="subtitle">适用耗材：</h5>
      <p class="body">{{ post['accessories'] }}</p>
      <img style="width: 400px; height: 400px; object-fit: contain;" src="{{'../../static/uploaded_files/' + post['pic_name0']}}">
      <img style="width: 400px; height: 400px; object-fit: contain;" src="{{'../../static/uploaded_files/' + post['pic_name1']}}">
      <img style="width: 400px; height: 400px; object-fit: contain;" src="{{'../../static/uploaded_files/' + post['pic_name2']}}">
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}