{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}新增产品{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" enctype=multipart/form-data>
        <label for="product_name">名称</label>
        <input name="product_name" id="product_name" value="{{ request.form['product_name'] }}" required>

        <label>分类</label>
        <input name="cat" id="cat" value="{{ request.form['cat'] }}" required>

        <label>品牌</label>
        <input name="brand" id="brand" value="{{ request.form['brand'] }}" required>

        <label>是否推荐</label>
        <input name="rec" id="rec"  value="{{ request.form['rec'] }}" required>

        <label>相关耗材</label>
        <input name="acc" id="acc"  value="{{ request.form['acc'] }}" required>

        <label for="description">产品描述</label>
        <textarea name="description" id="description">{{ request.form['description'] }}</textarea>

        <label>点击上传产品图片</label>

        <div class="icons">
            <div style="position: relative;">
                <input class="upload-input" type="file" name="file0" onchange="showImg(this, 0)">
                <div>
                    <img class="upload_icon" src="../../static/upload.png">
                </div>
            </div>
            <div id="imgContainer0" style="margin-top: 10px;"></div>

            <div style="position: relative;">
                <input class="upload-input" type="file" name="file1" onchange="showImg(this, 1)">
                <div>
                    <img class="upload_icon" src="../../static/upload.png">
                </div>
            </div>
            <div id="imgContainer1" style="margin-top: 10px;"></div>

            <div style="position: relative;">
                <input class="upload-input" type="file" name="file2" onchange="showImg(this, 2)">
                <div>
                    <img class="upload_icon" src="../../static/upload.png">
                </div>
            </div>
            <div id="imgContainer2" style="margin-top: 10px;"></div>
        </div>

        <hr>
        <input type="submit" value="保存">
    </form>

    <script>
        function showImg(obj, i) {
            var files = obj.files
            document.getElementById("imgContainer" + i).innerHTML = getImgsByUrl(files)
        }

        function getImgsByUrl(files) {
            var elements = ''
            var url = window.URL.createObjectURL(files[0])
            elements += "<img src='"+ url + "' style='height: 160px; vertical-align: middle; margin-right: 5px;'>"

            return elements
        }
    </script>
{% endblock %}