{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}编辑品牌{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" enctype=multipart/form-data>
        <label for="brand_name">名称</label>
        <input name="brand_name" id="brand_name" value="{{ request.form['brand_name'] or post['brand_name'] }}" required>

        <label>点击修改品牌图标</label>
        <div class="icons">
            <div style="position: relative;">
                <input class="upload-input" type="file" name="file0" onchange="showImg(this, 0)">
                <div>
                    <img class="upload_icon" src="../../static/upload.png">
                </div>
                <img id="pic0" class="uploaded_pic" src="{{ '../../static/uploaded_files/' + post['brand_icon_name'] }}">
            </div>
            <div id="imgContainer0" style="margin-top: 10px;"></div>
        </div>

    <input type="submit" value="保存">
    </form>
    <hr>

    <form action="{{ url_for('brand.brand_delete', brand_name=post['brand_name']) }}" method="post">
        <input class="danger" type="submit" value="删除" onclick="return confirm('确定要删除吗？');">
    </form>

    <script>
        function showImg(obj, i) {
            var files = obj.files
            document.getElementById("pic" + i).src = window.URL.createObjectURL(files[0])
        }
    </script>
{% endblock %}